Repository verySmolBrain/accounting-website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --fix, stylelint src/**/*. --fix, prettier --write

.lintstagedrc:

{
  "*.astro": ["eslint . --fix"],
  "src/**/*.{css,astro,tsx}": ["stylelint src/**/*. --fix"],
  "*.{js,jsx,ts,tsx,md,mdx,json,astro}": ["prettier --write"]
}

init
  src/assets/Icons/AccountingIcon.astro
  src/assets/Icons/FinancialPlanningIcon.astro
  src/assets/Icons/TaxationIcon.astro
  src/components/Footer.astro
  src/components/Header.astro
  src/components/ServicesBanner.astro
  src/pages/about.astro
  src/pages/contact.astro
  src/pages/index.astro
  src/pages/services.astro
  tailwind.config.mjs
Due: eslint . --fix, stylelint src/**/*. --fix, prettier --write

init
  README.md
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/assets/Images/calculator-tax.jpg
  src/assets/Images/consulting-accountant-2.jpg
  src/assets/Images/consulting-accountant.jpg
  src/components/Footer.astro
  src/components/Header.astro
  src/components/ReactComponents/Carousel.tsx
  src/components/ReactComponents/CarouselArrowButtons.tsx
  src/components/ReactComponents/CarouselLazyLoadImage.tsx
  src/config.ts
  src/pages/about.astro
  src/pages/contact.astro
  src/pages/index.astro
  src/pages/services.astro
  src/types.ts
  tailwind.config.mjs
Due: eslint . --fix, stylelint src/**/*. --fix, prettier --write

init
  .jampack/cache/img/v1/68175cdd59070ae2f44a971062e61a4b6d71625669c18c8de4db80df9ddbbce5/99914b932bd37a50b983c5e7c90ae93b/data
  .jampack/cache/img/v1/68175cdd59070ae2f44a971062e61a4b6d71625669c18c8de4db80df9ddbbce5/99914b932bd37a50b983c5e7c90ae93b/meta
  .jampack/cache/img/v1/7c5a737ebb22b21f8ff7890dbdd893b44ac0c0bb51812345751413f293a31685/99914b932bd37a50b983c5e7c90ae93b/data
  .jampack/cache/img/v1/7c5a737ebb22b21f8ff7890dbdd893b44ac0c0bb51812345751413f293a31685/99914b932bd37a50b983c5e7c90ae93b/meta
  .jampack/cache/img/v1/bc90df097eb70f0590f5cdb66c7315bc550d915e7688734e8d82c6aed634fa33/99914b932bd37a50b983c5e7c90ae93b/data
  .jampack/cache/img/v1/bc90df097eb70f0590f5cdb66c7315bc550d915e7688734e8d82c6aed634fa33/99914b932bd37a50b983c5e7c90ae93b/meta
  package.json
  pnpm-lock.yaml
Due: prettier --write

init
  .gitignore
  README.md
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/assets/Icons/AccountingIcon.astro
  src/assets/Icons/FinancialPlanningIcon.astro
  src/assets/Icons/TaxationIcon.astro
  src/components/BookNow.astro
  src/components/ServicesBanner.astro
  src/styles/base.css
  tailwind.config.mjs
Due: eslint . --fix, stylelint src/**/*. --fix, prettier --write

init
  src/assets/Images/tax-calculator.jpg
Due: none

init
  astro.config.mjs
Due: none

init
  src/pages/index.astro
Due: eslint . --fix, stylelint src/**/*. --fix, prettier --write

init
  .vscode/settings.json
  .vscode/tailwind.json
  src/components/ReactComponents/Carousel.tsx
Due: stylelint src/**/*. --fix, prettier --write

init
  astro.config.mjs
  src/components/Footer.astro
  src/config.ts
  src/pages/about.astro
  src/pages/index.astro
  src/types.ts
Due: eslint . --fix, stylelint src/**/*. --fix, prettier --write

init
  README.md
  src/pages/about.astro
Due: eslint . --fix, stylelint src/**/*. --fix, prettier --write

init
  src/components/Footer.astro
Due: eslint . --fix, stylelint src/**/*. --fix, prettier --write

init
  src/components/ServicesBanner.astro
  src/config.ts
  src/pages/about.astro
  src/pages/index.astro
  tailwind.config.mjs
Due: eslint . --fix, stylelint src/**/*. --fix, prettier --write

init
  public/assets/logo.svg
  public/favicon.svg
Due: none

init
  public/favicon.ico
  public/logo.png
  src/components/Header.astro
  src/config.ts
  src/layouts/Layout.astro
  src/pages/index.astro
  src/styles/base.css
Due: eslint . --fix, stylelint src/**/*. --fix, prettier --write

init
  src/components/Header.astro
Due: eslint . --fix, stylelint src/**/*. --fix, prettier --write

init
  src/components/Header.astro
  src/pages/about.astro
  src/pages/index.astro
Due: eslint . --fix, stylelint src/**/*. --fix, prettier --write

init
  astro.config.mjs
  src/components/Header.astro
  src/config.ts
  src/pages/about.astro
  src/pages/index.astro
Due: eslint . --fix, stylelint src/**/*. --fix, prettier --write
